# Ignorar carpetas de compilación
/bin/
/target/

# Archivos de Eclipse
.classpath
.project
.settings/

# Archivos de entorno
*.log
*.tmp

# Ignorar configuraciones del sistema operativo
.DS_Store
Thumbs.db

# Archivos de configuración de IDEs (opcional)
*.iml
.idea/